/* WEBFONTS — the two families tokens/type.css names. Upstream apps ship no
   webfont (they fall through to system stacks); loading these is an opt-in
   improvement. Variable TTFs from Google Fonts, SIL Open Font License. */
@font-face {
  font-family: "Fira Code";
  src: url("../assets/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
